--index-url https://pypi.org/simple asttokens
beautifulsoup4
blinker
Bottleneck
Brotli
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
ensure==1.0.4
exceptiongroup
executing
Flask
idna
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
--index-url https://pypi.anaconda.org/intel/simple --extra-index-url https://pypi.org/simple mkl_fft
--i https://pypi.anaconda.org/intel/simple mkl_randommkl-service==2.4.0
nest_asyncio
nltk==3.8.1
numexpr
numpy
packaging
pandas
parso
pickleshare
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
PySocks
python-box
python-dateutil
pytz
pywin32==305.1
PyYAML
pyzmq
regex==2024.7.24
requests
ruamel.yaml
setuptools==69.5.1
six
soupsieve
stack-data
toml
tornado
tqdm==4.66.4
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel==0.43.0
win-inet-pton
zipp
-e .
gunicorn