body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: #4077c8;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	resize: both; 
    overflow: auto;
}
.form-v9-content  {
	/* width: 75%; */
	border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 185px 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	/* font-weight: 700; */
	/* font-size: 16px; */
	position: relative;
}
.lists  {
    width: auto !important;
    padding-top: 15px;
    text-align: justify;
    padding-right: 25px;
    padding-left: 25px;
}
.scores  {
	/* background-color: #ccff00; */
	color: #ccff00;
	/* opacity: 0.7; */
}
@media (min-width: 640px) {
    .boxes {
        margin: -12px;
        width: calc(100% + 24px);
    }
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}
@media (min-width: 1024px) {
    .box {
        width: 33.3%;
        padding: 12px;
    }
}
.box {
    display: flex;
}
.box_in {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.box_in_2 {
    display: flex;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    user-select: none;
    outline: none;
    height: 120px;
    background: rgba(255, 255, 255, 0.2);
}
.box_in_3 {
    position: relative;
    padding-top: 20px;
    margin-right: 88px;
    padding-bottom: 16px;
    padding-left: 64px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.description {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    pointer-events: none;
    text-align: left;
    left: 65px;
    right: 57px;
    margin: 7.5px;
    top: 50px;
}
.form-v9-content .form-detail {
    padding: 30px 30px 30px 30px;
	position: relative;
	/* display: flex; */
}
.boxes {
    /* padding: 30px 30px 30px 30px;
	position: relative; */
	display: flex;
}
@media (min-width: 640px) {
    .eWDSCD {
        margin: -12px;
        width: calc(100% + 24px);
    }
}
.form-v9-content .form-detail h2 {
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}
.form-v9-content .form-detail h2::after {
	background: #fff;
	width: 3px;
	height: 3px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.form-v9-content .form-row-total {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
	text-align: center;
}
.form-v9-content .form-detail .form-row {
    width: 45%;
	text-align: center;
	/* display: flex; */
    /* justify-content: center; */
	/* align-items: center; */
	width: 200px;
    margin: 0 auto;
}
.form-v9-content .form-detail .form-row-last {
	text-align: center;
    width: 307px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.form-v9-content .form-detail .input-text {
	margin-top: 22px;
	margin-bottom: 22px;
	text-align: center;
	width: 250px; 
    /* margin: 0 auto; */
	/* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.textarea {
	/* margin-top: 22px;
	margin-bottom: 22px; */
	text-align: center;
	/* width: 250px;  */
	/* resize: none;  */
	background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ccc;
	/* border: none; */
    /* margin: 0 auto; */
	/* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.form-v9-content .form-detail input {
	width: 25%;
    padding: 14.5px 0px 14.5px 30px;
    border: 2px solid #ccc;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    border-radius: 27.5px;
	-o-border-radius: 27.5px;
	-ms-border-radius: 27.5px;
	-moz-border-radius: 27.5px;
	-webkit-border-radius: 27.5px;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2)
}
.form-v9-content .form-detail input:focus {
	border: 2px solid #999;
}
.form-v9-content .form-detail .register {
	background: #f25d5d;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border: none;
	/* margin: 20px 0 73px 35px; */
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 22px;
	margin-top: 22px;
	text-align: center;

}
.form-v9-content .form-detail .register:hover {
	background: #d95252;
}
.form-v9-content .form-detail .form-row-last input {
	padding: 14px;
	text-align: center;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e5e5e5;
  font-size: 16px;
  text-align: center;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #e5e5e5;
  font-size: 16px;
  text-align: center;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #e5e5e5;
  font-size: 16px;
  text-align: center;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #e5e5e5;
  font-size: 16px;
  text-align: center;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e5e5e5;
  font-size: 50px;
  text-align: center;
  /* width: 400px;
  height: 50px; */
  padding-top: 25px;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #e5e5e5;
  font-size: 50px;
  text-align: center;
  /* width: 400px;
  height: 50px; */
  padding-top: 25px;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #e5e5e5;
  font-size: 50px;
  text-align: center;
  /* width: 400px;
  height: 50px; */
  padding-top: 25px;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: #e5e5e5;
  font-size: 50px;
  text-align: center;
  /* width: 400px;
  height: 50px; */
  padding-top: 25px;
}

input.centered-input {
    width: 200px; /* Adjust as needed */
    margin: 0 auto;
}

input.centered-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive */

@media screen and (max-width: 1199px) {
    .border-top {
        margin: 0px 0px;
        /* padding-top: 25px; */
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) {
	.form-v9-content {
	    margin: 60px 20px;
	}
}
@media screen and (max-width: 767px) {
	.form-v9-content .form-row-total {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		text-align: center;
	}
	.form-v9-content .form-row {
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 575px) {
	.form-v9-content .form-detail .boxes {
	    padding: 10px 10px 10px 10px;
        margin: 0px;
	}
}
@media (min-width: 1024px) {
    .form-row-last {
        /* width: 33.3%; */
        padding: 12px;
    }
}